<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>263046786565-1umkaven71s5dol39qi0csma2r28muu3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.263046786565-1umkaven71s5dol39qi0csma2r28muu3</string>
	<key>API_KEY</key>
	<string>AIzaSyD6pfT7Y2_0y1c5VINFB14GROULipzbebg</string>
	<key>GCM_SENDER_ID</key>
	<string>263046786565</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.Renegade.MyMoves</string>
	<key>PROJECT_ID</key>
	<string>mymoves-fe34f</string>
	<key>STORAGE_BUCKET</key>
	<string>mymoves-fe34f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:263046786565:ios:b74adfce195d49b6</string>
	<key>DATABASE_URL</key>
	<string>https://mymoves-fe34f.firebaseio.com</string>
</dict>
</plist>
